Source: vimb
Section: misc
Priority: extra
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), libsoup2.4-dev, libwebkitgtk-dev
Standards-Version: 3.9.6
Homepage: http://fanglingsu.github.io/vimb/
Vcs-Browser: https://github.com/mati75/vimb
Vcs-Git: git://github.com/mati75/vimb

Package: vimb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Light-weight webkit-based browser with vim keyboard bindings.
 vimb is a fast lightweight browser based on webkit. It uses
 vim keyboard bindings much like vimperator and pentadactyl.
