Source: vimb
Section: misc
Priority: extra
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), libsoup2.4-dev, libwebkitgtk-dev
Standards-Version: 3.9.6
Homepage: http://fanglingsu.github.io/vimb/
Vcs-Browser: https://github.com/mati75/vimb
Vcs-Git: git://github.com/mati75/vimb

Package: vimb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Light-weight webkit-based browser with vim keyboard bindings
 Vimb is a Vim-like web browser that is inspired by Pentadactyl
 and Vimprobable. The goal of Vimb is to build a completely
 keyboard-driven, efficient and pleasurable browsing-experience
 with low memory and CPU usage that is intuitive to use for Vim
 users.
